[submodule "Assets/HCCore"]
	path = Assets/HCCore
	url = https://github.com/SirMightyPants/hc-core
	branch = main
[submodule "Assets/Mechanics/Merge"]
	path = Assets/Mechanics/Merge
	url = https://github.com/SirMightyPants/hc-mechanics-merge
	branch = main
