# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Zombie.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Nigra\OneDrive\Documents\Zombie\.idea\.idea.Zombie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
